@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Bungee+Shade&family=Bungee+Spice&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.037);
  backdrop-filter: blur(5px);
}

.navbar {
  max-height: 100px; 
  transition: max-height 0.9s ease-out;
  margin-left: auto;
}

.navbar-toggle{
  display: none;
}

.navbar.active {
  max-height: 500px; 
}

.navbar a {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  margin: 1.5rem;
}

.header > h2 {
  color: #348cfc;
  padding-left: 2%;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
}
.navbar a::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -7%;
  background: #348cfc;
  border-radius: 13px;
  width: 100px;
  height: 4px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navbar a:hover {
  color: #348cfc;
}
.navbar a:hover::after {
  transform: scaleX(1);
}

#center {
  width: 100%;
  height: 100%;
}

#content {
  width: 100%;
  height: 100%;
  position: relative;
}

#content video {
  width: 100%;
  height: 85%;
  object-fit: cover;
}

#overlay {
  width: 100%;
  position: absolute;
  top: 70%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  text-align: center;
}

#over1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#over1 h1 {
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 1rem;
}

#over1 h1 span {
  color: #348cfc;
}

.list-section {
  margin: 0 auto;
}
.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 4.8rem;
  justify-items: center;
  align-content: center;
}

.link {
  text-decoration: none;
  display: block;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.034);
  justify-self: stretch;
  align-self: stretch;
  padding: 2.4rem 0 0 0;
  overflow: hidden;
  transition: all 0.4s;
}


.menu:hover {
  background: black;
  transform: translateY(-0.8rem);
}

.logo {
  position: relative;
  background: #348cfc;
  height: 12rem;
  width: 25rem;
  align-self: center;
}

.details {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
  color: #348cfc;
  padding: 1.2rem 1.2rem 2.4rem 1.2rem;
  height: auto;
  text-align: left;
}

.exp {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #e0dede;
}

.name {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #e0dede;
  margin-bottom: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.footer {
  margin-top: 20%;
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  color: #348cfc;
  transform: translateY(-10px);
}
.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

.name23 {
  color: #fff;
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}


@media only screen and (min-width: 350px) and (max-width: 1000px) {
  .header {
    justify-content: space-between;
     
  }
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navbar-toggle {
    display: block;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    margin-right: 5%;
  }

  .navbar .href {
    margin: 10%;
    display: none;
  }
  .navbar.active .href {
    right: 20%;
    display: block;
  }
  .list {
    grid-template-columns: 1fr;
    column-gap: 2.4rem;
  }

  .link {
    text-decoration: none;
    display: block;
  }

  .menu {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.034);
    backdrop-filter: blur(5px);
    justify-self: stretch;
    align-self: stretch;
    padding: 2.4rem 0 0 0;
    overflow: hidden;
    transition: all 0.4s;
  }

  .menu:hover {
    transform: translateY(-0.8rem);
  }

  .logo {
    position: relative;
    background: #348cfc;
    height: 12rem;
    width: 25rem;
    align-self: center;
  }

  .details {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2rem;
    color: #348cfc;
    padding: 1.2rem 1.2rem 2.4rem 1.2rem;
    height: auto;
    text-align: center;
  }

  .exp {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #e0dede;
  }

  .name {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #e0dede;
    margin-bottom: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  #over1 h1{
    font-size: 3.5rem;
  }
}
